# /etc/systemd/system

[Unit]
Description=B24 asterx integration
After=network.target

[Service]
User=nobody
Group=nobody
WorkingDirectory=/opt/asterx
Environment="PATH=/opt/asterx/.venv/bin"
ExecStart=/opt/asterx/.venv/bin/python main.py

[Install]
WantedBy=multi-user.target
