# /etc/systemd/system

[Unit]
Description=gulin.kz: Asterx Connector
After=network.target asterisk.service
Wants=asterisk.service

[Service]
User=asterisk
WorkingDirectory=/opt/asterx
Environment="PATH=/opt/asterx/.venv/bin"
ExecStart=/opt/asterx/.venv/bin/python main.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target